# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
env/
*.env

# System-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Streamlit configuration (if not needed in Git)
.streamlit/secrets.toml

# Other files or folders you want to ignore
